.header { position: fixed; top: 0; width: 100%; height: 60px; line-height: 60px; background: rgba(255,255,255,.9); text-align: center; border-bottom: 1px solid #ddd; box-shadow: 0 1px 1px rgba(0,0,0,.04); z-index: 9999; }
/* Slide transitions */
.slideUp { -webkit-transform: translateY(-100px); -ms-transform: translateY(-100px); -o-transform: translateY(-100px); transform: translateY(-100px); -webkit-transition: transform .5s ease-out; -o-transition: transform .5s ease-out; transition: transform .5s ease-out; }
.slideDown { -webkit-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: transform .5s ease-out; -o-transition: transform .5s ease-out; transition: transform .5s ease-out; }
#mnavh { display: none; width: 30px; height: 40px; float: right; text-align: center; padding: 0 5px }
#starlist { float: right; }
#starlist li { float: left; display: block; margin: 0 0 0 40px; font-size: 16px }
.active{
    border-bottom:2px solid #F4650E;
}
.navicon { display: block; position: relative; width: 30px; height: 5px; background-color: #000; margin-top: 20px }
.navicon:before, .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #000; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.navicon:before { margin-top: -10px; }
.navicon:after { margin-top: 10px; }
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #mnavh{ position:absolute;display:block; top:8px; right:10px}
    #starlist{ display:none; background: rgba(255,255,255,1);width:50%;}
    #starlist li{ display:block; width:50%; padding:0}
    }
    @media only screen and (max-width: 479px) {
    #starlist{ display:none; background: rgba(255,255,255,1);width:50%;}
    #starlist li{ display:block; width:50%; padding:0}
    #mnavh{ position:absolute;display:block; top:8px; right:10px}
    }
.open .navicon { background: none }
.open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.open .navicon:before, .open .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #000; }